name: Create Tag

on:
  push:
    branches:
      - master
      - v4  

jobs:
  taging:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: butlerlogic/action-autotag@master
      with:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        #strategy: regex
        root: "version"
        #regex_pattern: ([0-9\.]{5}([-\+][\w\.0-9]+)?) 
        regex_pattern: (^[0-9\.]{5}([\w\.0-9]+)?) 
